# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Project Specific
keys/
storage/
